<div class="container">
  <div class="card">
    <div class="chart" id="chart">
      <div class="chart-slider" data-el="slider">
        <canvas data-el="main"></canvas>
        <div class="chart-slider__left" data-el="left">
          <div class="chart-slider__arrow--left" data-el="arrow" data-type="left"></div>
        </div>

        <div class="chart-slider__window" data-el="window" data-type="window"></div>

        <div class="chart-slider__right" data-el="right">
          <div class="chart-slider__arrow--right" data-el="arrow" data-type="right"></div>
        </div>
      </div>
    </div>
  </div>
</div>