.container {
  max-width: 800px;
  margin: 5rem auto;
}

.card {
  display: flex;
  justify-content: center;
  border-right: 4px;
  background: aliceblue;
  padding: 1rem;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
}

.chart {
  position: relative;
}

canvas {
  z-index: 2;
}

.tg-chart-slider {
  position: relative;
  margin-bottom: 1rem;
  z-index: 1;
}

.chart-tooltip {
  position: absolute;
  display: none;
  max-width: 200px;
  min-width: 120px;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #dfe6eb;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  background: #fff;
  color: #000;
  overflow: hidden;
  z-index: 3;

  top: 50px;
  left: 100px;
}

.tooltip-title {
  text-align: center;
  margin-bottom: 0.5rem;
  white-space: nowrap;
}

.tooltip-list {
  display: flex;
  flex-wrap: wrap;
}

.tooltip-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.name {
  font-size: 0.8rem;
}

.value {
  font-size: 1rem;
  font-weight: bold;
}

.chart-slider {
  position: relative;
  margin-bottom: 1rem;
  z-index: 1;
}

.chart-slider__left {
  transition: background 0.22s ease-in-out;
  background: #f5f9fb;
  opacity: 0.7;
  position: absolute;
  top: 0;
  bottom: 0;
}

.chart-slider__right {
  transition: background 0.22s ease-in-out;
  background: #f5f9fb;
  opacity: 0.7;
  position: absolute;
  top: 0;
  bottom: 0;
}

.chart-slider__left {
  left: 0;
}

.chart-slider__right {
  right: 0;
}

.chart-slider__arrow--left {
  position: absolute;
  top: 0;
  bottom: 0;
  transition: background 0.22s ease-in-out;
  background: #ddeaf3;
  width: 4px;
}

.chart-slider__arrow--right {
  position: absolute;
  top: 0;
  bottom: 0;
  transition: background 0.22s ease-in-out;
  background: #ddeaf3;
  width: 4px;
}

.chart-slider__arrow--left {
  right: 0;
  cursor: col-resize;
}

.chart-slider__arrow--right {
  left: 0;
  cursor: col-resize;
}

.chart-slider__window {
  position: absolute;
  background: transparent;
  top: 0;
  bottom: 0;
  cursor: move;
}
